{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <div class="col-xs-12">
            <label class="control-label widget-input-label">HTML embed e.g. YouTube, Sketchfab</label>
            <input type="text" data-bind="textInput: htmlEmbed" class="form-control input-lg widget-input">
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div>
    Nothing to see here
</div>
{% endblock config_form %}

{% block report %}

<div data-bind="html: htmlembed"></div>

{% endblock report %}
